.App {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    margin: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.new-board {
    margin-top: 20px;
}

.new-board span {
    margin-top: 20px;
    margin-bottom: 10px;
}

.new-board p {
    display: inline;
    margin-left: 5px;
}